html{
    font-size: 10px;
    font-family: 'Open Sans',sans-serif;
}
h1{
    font-size: 60px;
    text-align: center;
  
}
h2{
    font-size: 40px;
}
p,li{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
html{
    background-color: rgb(195, 255, 235);
}
body{
    width: 600px;
    margin: 0 auto;
    background-color:rgb(154, 241, 230);
    padding: 0 20px 20px 20px;
    
} 
h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(121, 7, 7);
    text-shadow: 3px 3px 1px black;
  }
  img{
      display: block;
      margin: 0 auto;
  }